@import "../../index.scss";

.sendComment {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem;
  border-radius: 10px;
  background-color: $white;
  margin-bottom: 2rem;

  textarea {
    resize: none;
    font-family: "Rubik", sans-serif;
    border-radius: 10px;
    border: 1px solid $light-gray;
    outline: none;
    padding: 1rem 2rem;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    @include mediaQuery(phone) {
      grid-area: 1/1/2/-1;
    }

    &::placeholder {
      font-weight: 400;
      font-size: 1.6rem;
      color: $grayish-Blue;
    }
  }

  button {
    grid-column: 3/4;
    text-transform: uppercase;
    background-color: $moderate-blue;
    color: $white;
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 10px;
    padding: 1.5rem 3rem;
  }
}
